
# Feed Forward 
__1. All nodes are fully connected.__<br>
__2. Activation flows from input layer to output, without back loops.__ <Br>
__3. There is one layer between input.__<Br>
__4. [Towards Data Science Blog BY Andrew Tch for neural networks details ](https://towardsdatascience.com/the-mostly-complete-chart-of-neural-networks-explained-3fb6f2367464).__

### Titanic Dataset is used to implement Feed Forward
[Download Titanic Dataset](https://www.kaggle.com/c/titanic/data).

In [253]:
import numpy as np 
import pandas as pd
from keras import models
from keras import layers

In [272]:
def reading_test_train_data():
    train = pd.read_csv('./datasets/train.csv')
    test = pd.read_csv('./datasets/test.csv')
    return train,test


def adding_title_using_name(dataset):
    """
    Fetching Mr,Miss,Mrs title from name 
    """ 
    dataset['Title'] = dataset['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)
    dataset['Title'] = dataset['Title'].replace('Mlle', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Ms', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')
    return dataset


def converting_title_to_int(title):
    """
    Assigning Number to each title
    """
    title= title.strip().lower()
    if title == 'mr':
        return 1
    elif title =='miss':
        return 2
    elif title =='mrs':
        return 3
    else:
        return 0
    
def age_into_grp(dataset):
    """
    converting age into age_group as bins
    """
    bins = [0,11,18,22,27,33,40,66, 120]
    labels = [str(i) for i in range(1,len(bins))]
    dataset['Age'] = pd.cut(dataset['Age'], bins, labels = labels,include_lowest = True)
    return dataset

###  Create feed forward neural network to train data

In [255]:
def feed_foward_model(number_of_features):
    # Start neural network
    model = models.Sequential()

    # Add fully connected layer with a ReLU activation function
    model.add(layers.Dense(units=16, activation='relu', input_shape=(number_of_features,)))

    # Add fully connected layer with a ReLU activation function
    model.add(layers.Dense(units=16, activation='relu'))

    # Add fully connected layer with a sigmoid activation function
    model.add(layers.Dense(units=1, activation='sigmoid'))
    
    return model

In [257]:
train,test = reading_test_train_data()

In [258]:
# first 10 rows
train.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [259]:
# 891 rows 
# 12 columns /featurs including target
train.shape

(891, 12)

In [260]:
# only age count() is less then total df len means contains nan values
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

###  Manipulating --- AGE

In [261]:
# filling age with age median
train['Age'] = train['Age'].fillna(train['Age'].median())

### ADDING NEW FEATURE

In [262]:
# check who came with family or who came alone
train['with_family'] = train['SibSp'] + train['Parch']
train.loc[train['with_family'] > 0, 'not_alone'] = 0
train.loc[train['with_family'] == 0, 'not_alone'] = 1
train['not_alone'] = train['not_alone'].astype(int)
train.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,with_family,not_alone
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,1

### Filling Embarked column

In [263]:
# checking Embarked data stats
train['Embarked'].describe()

count     889
unique      3
top         S
freq      644
Name: Embarked, dtype: object

In [264]:
train['Embarked'] = train['Embarked'].fillna('S')

In [265]:

train['Embarked'] = train['Embarked'].astype('category').cat.codes

### Manipulating FARE

In [266]:
train['Fare'].describe() 
train['Fare'] = train['Fare'].astype(int)

### Manipulating GENDER feature

In [267]:
train['Sex'].unique()

array(['male', 'female'], dtype=object)

In [268]:
train['Sex'] = train['Sex'].astype('category').cat.codes
train['Sex'].unique()

array([1, 0], dtype=int64)

### Manipulating Name and extracting Title from it
#### Then Converting them into category

In [269]:
train = adding_title_using_name(train)

In [270]:
train['Title'] = train['Title'].apply(converting_title_to_int)

In [271]:
train['Title'].unique()

array([1, 3, 2, 0], dtype=int64)

## converting age into bins - range

In [273]:
train = age_into_grp(train)

In [274]:
train['Age'].value_counts()

5    303
7    143
4    106
6    101
3     92
2     71
1     68
8      7
Name: Age, dtype: int64

In [275]:
train.drop(['PassengerId','Name','Ticket','Cabin'],axis=1,inplace=True)

In [276]:
train.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,with_family,not_alone,Title
0,0,3,1,3,1,0,7,2,1,0,1
1,1,1,0,6,1,0,71,0,1,0,3
2,1,3,0,4,0,0,7,2,0,1,2
3,1,1,0,6,1,0,53,2,1,0,3
4,0,3,1,6,0,0,8,2,0,1,1

## HANDLING TEST DATA AND PREPARING IT

In [277]:
# viewing test dataset
test.head(10)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
5,897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
6,898,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
7,899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
9,901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S

In [278]:
test.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

### Manipulting age for test dataset

In [279]:
# filling age with age median
test['Age'] = test['Age'].fillna(test['Age'].median())

### Creating With_familt and not_alone feature

In [280]:
train.isna().any()

Survived       False
Pclass         False
Sex            False
Age            False
SibSp          False
Parch          False
Fare           False
Embarked       False
with_family    False
not_alone      False
Title          False
dtype: bool

In [281]:
# check who came with family or who came alone
test['with_family'] = test['SibSp'] + test['Parch']
test.loc[test['with_family'] > 0, 'not_alone'] = 0
test.loc[test['with_family'] == 0, 'not_alone'] = 1
test['not_alone'] = test['not_alone'].astype(int)
test.head(5)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,with_family,not_alone
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,0,1
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,1,0
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,0,1
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,0,1
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,2,0

### Filling Embarked column in test dataset

In [282]:
# checking Embarked data stats
test['Embarked'].describe()

count     418
unique      3
top         S
freq      270
Name: Embarked, dtype: object

In [283]:
test['Embarked'] = test['Embarked'].fillna('S')
test['Embarked'] = test['Embarked'].astype('category').cat.codes

### Manipulating FARE  in test dataset

In [284]:
test['Fare'].describe() 
test['Fare'] = train['Fare'].astype(int)

### Manipulating gender feature in test dataset

In [285]:
test['Sex'] = test['Sex'].astype('category').cat.codes
test['Sex'].unique()

array([1, 0], dtype=int64)

### Manipulating Name and extracting Title from it in test dataset
#### Then Converting them into category

In [286]:
test = adding_title_using_name(test)
test['Title'] = test['Title'].apply(converting_title_to_int)
test['Title'].unique()

array([1, 3, 2, 0], dtype=int64)

### converting age into bins

In [287]:
test = age_into_grp(test)
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,with_family,not_alone,Title
0,892,3,"Kelly, Mr. James",1,6,0,0,330911,7,NaN,1,0,1,1
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",0,7,1,0,363272,71,NaN,2,1,0,3
2,894,2,"Myles, Mr. Thomas Francis",1,7,0,0,240276,7,NaN,1,0,1,1
3,895,3,"Wirz, Mr. Albert",1,4,0,0,315154,53,NaN,2,0,1,1
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",0,3,1,1,3101298,8,NaN,2,2,0,3

In [288]:
test.drop(['Name','Ticket','Cabin'],axis=1,inplace=True)

In [289]:
passengerId_test = test['PassengerId']

In [290]:
test.drop(['PassengerId'],axis=1,inplace=True)

In [291]:
train.dropna(inplace=True)
y_train = train['Survived']

In [292]:
train.drop(['Survived'],axis=1,inplace=True)

In [293]:
network = feed_foward_model(len(test.columns))
network.compile(optimizer ='adam',loss='binary_crossentropy', metrics =['accuracy'])# Accuracy performance metric

In [294]:
#Fitting the data to the training dataset
network.fit(train,y_train, batch_size=10, epochs=300)

Epoch 1/300
891/891 [==============================] - 2s 3ms/step - loss: 1.4320 - acc: 0.6240
Epoch 2/300
891/891 [==============================] - 0s 224us/step - loss: 0.6364 - acc: 0.6768
Epoch 3/300
891/891 [==============================] - 0s 184us/step - loss: 0.6120 - acc: 0.6914
Epoch 4/300
891/891 [==============================] - 0s 182us/step - loss: 0.5822 - acc: 0.7329
Epoch 5/300
891/891 [==============================] - 0s 189us/step - loss: 0.5632 - acc: 0.7340
Epoch 6/300
891/891 [==============================] - 0s 218us/step - loss: 0.5545 - acc: 0.7407
Epoch 7/300
891/891 [==============================] - 0s 190us/step - loss: 0.5445 - acc: 0.7475
Epoch 8/300
891/891 [==============================] - 0s 180us/step - loss: 0.5329 - acc: 0.7632
Epoch 9/300
891/891 [==============================] - 0s 183us/step - loss: 0.5330 - acc: 0.7733
Epoch 10/300
891/891 [==============================] - 0s 181us/step - loss: 0.4976 - acc: 0.7767
Epoch 11/300
891/891 [==============================] - 0s 188us/step - loss: 0.4870 - acc: 0.7901
Epoch 12/300
891/891 [==============================] - 0s 234us/step - loss: 0.5015 - acc: 0.7755
Epoch 13/300
891/891 [==============================] - 0s 209us/step - loss: 0.4868 - acc: 0.7823
Epoch 14/300
891/891 [==============================] - 0s 227us/step - loss: 0.4999 - acc: 0.7755
Epoch 15/300
891/891 [==============================] - 0s 283us/step - loss: 0.5044 - acc: 0.7755
Epoch 16/300
891/891 [==============================] - 0s 201us/step - loss: 0.4788 - acc: 0.7924
Epoch 17/300
891/891 [==============================] - 0s 194us/step - loss: 0.4717 - acc: 0.7969
Epoch 18/300
891/891 [==============================] - 0s 240us/step - loss: 0.4782 - acc: 0.7991 0s - loss: 0.4674 - acc: 0.
Epoch 19/300
891/891 [==============================] - 0s 173us/step - loss: 0.4739 - acc: 0.7912
Epoch 20/300
891/891 [==============================] - 0s 191us/step - loss: 0.4704 - acc: 0.7980
Epoch 21/300
891/891 [==============================] - 0s 186us/step - loss: 0.4672 - acc: 0.7980
Epoch 22/300
891/891 [==============================] - 0s 199us/step - loss: 0.4733 - acc: 0.7969
Epoch 23/300
891/891 [==============================] - 0s 250us/step - loss: 0.4770 - acc: 0.7946
Epoch 24/300
891/891 [==============================] - 0s 238us/step - loss: 0.4774 - acc: 0.7991
Epoch 25/300
891/891 [==============================] - 0s 194us/step - loss: 0.4638 - acc: 0.8013
Epoch 26/300
891/891 [==============================] - 0s 199us/step - loss: 0.4863 - acc: 0.7935
Epoch 27/300
891/891 [==============================] - 0s 207us/step - loss: 0.4731 - acc: 0.7969
Epoch 28/300
891/891 [==============================] - 0s 225us/step - loss: 0.4628 - acc: 0.7935
Epoch 29/300
891/891 [==============================] - 0s 268us/step - loss: 0.4644 - acc: 0.7856
Epoch 30/300
891/891 [==============================] - 0s 236us/step - loss: 0.4610 - acc: 0.7901
Epoch 31/300
891/891 [==============================] - 0s 194us/step - loss: 0.4528 - acc: 0.7980
Epoch 32/300
891/891 [==============================] - 0s 217us/step - loss: 0.5069 - acc: 0.7789
Epoch 33/300
891/891 [==============================] - 0s 213us/step - loss: 0.4968 - acc: 0.7811
Epoch 34/300
891/891 [==============================] - 0s 250us/step - loss: 0.4556 - acc: 0.8025
Epoch 35/300
891/891 [==============================] - 0s 241us/step - loss: 0.4551 - acc: 0.7991
Epoch 36/300
891/891 [==============================] - 0s 250us/step - loss: 0.4576 - acc: 0.7924
Epoch 37/300
891/891 [==============================] - 0s 249us/step - loss: 0.4612 - acc: 0.7980
Epoch 38/300
891/891 [==============================] - 0s 253us/step - loss: 0.4654 - acc: 0.8013
Epoch 39/300
891/891 [==============================] - 0s 306us/step - loss: 0.4435 - acc: 0.8013
Epoch 40/300
891/891 [==============================] - 0s 261us/step - loss: 0.4407 - acc: 0.8013 0s - loss: 0.4301 - acc: 0.80
Epoch 41/300
891/891 [==============================] - 0s 290us/step - loss: 0.4602 - acc: 0.7924
Epoch 42/300
891/891 [==============================] - 0s 237us/step - loss: 0.4685 - acc: 0.8047
Epoch 43/300
891/891 [==============================] - 0s 285us/step - loss: 0.4459 - acc: 0.8070
Epoch 44/300
891/891 [==============================] - 0s 230us/step - loss: 0.4632 - acc: 0.7957
Epoch 45/300
891/891 [==============================] - 0s 227us/step - loss: 0.4498 - acc: 0.8070
Epoch 46/300
891/891 [==============================] - 0s 246us/step - loss: 0.4526 - acc: 0.7935
Epoch 47/300
891/891 [==============================] - 0s 198us/step - loss: 0.6338 - acc: 0.7677
Epoch 48/300
891/891 [==============================] - 0s 196us/step - loss: 0.4479 - acc: 0.8002
Epoch 49/300
891/891 [==============================] - 0s 249us/step - loss: 0.4428 - acc: 0.8070
Epoch 50/300
891/891 [==============================] - 0s 306us/step - loss: 0.4403 - acc: 0.8025
Epoch 51/300
891/891 [==============================] - 0s 221us/step - loss: 0.4579 - acc: 0.8013
Epoch 52/300
891/891 [==============================] - 0s 213us/step - loss: 0.4795 - acc: 0.7946
Epoch 53/300
891/891 [==============================] - 0s 202us/step - loss: 0.4588 - acc: 0.8002
Epoch 54/300
891/891 [==============================] - 0s 245us/step - loss: 0.4420 - acc: 0.8047
Epoch 55/300
891/891 [==============================] - 0s 202us/step - loss: 0.4416 - acc: 0.7991
Epoch 56/300
891/891 [==============================] - 0s 232us/step - loss: 0.4408 - acc: 0.7991
Epoch 57/300
891/891 [==============================] - 0s 219us/step - loss: 0.4474 - acc: 0.8013
Epoch 58/300
891/891 [==============================] - 0s 216us/step - loss: 0.4389 - acc: 0.8081
Epoch 59/300
891/891 [==============================] - 0s 252us/step - loss: 0.4391 - acc: 0.7980
Epoch 60/300
891/891 [==============================] - 0s 209us/step - loss: 0.4323 - acc: 0.8047
Epoch 61/300
891/891 [==============================] - 0s 209us/step - loss: 0.4356 - acc: 0.8036
Epoch 62/300
891/891 [==============================] - 0s 249us/step - loss: 0.4444 - acc: 0.7957
Epoch 63/300
891/891 [==============================] - 0s 227us/step - loss: 0.4362 - acc: 0.8070
Epoch 64/300
891/891 [==============================] - 0s 282us/step - loss: 0.4265 - acc: 0.8058
Epoch 65/300
891/891 [==============================] - 0s 287us/step - loss: 0.4339 - acc: 0.8025
Epoch 66/300
891/891 [==============================] - 0s 355us/step - loss: 0.4322 - acc: 0.8058
Epoch 67/300
891/891 [==============================] - 0s 206us/step - loss: 0.4328 - acc: 0.7935
Epoch 68/300
891/891 [==============================] - 0s 388us/step - loss: 0.4319 - acc: 0.8047
Epoch 69/300
891/891 [==============================] - 0s 334us/step - loss: 0.4443 - acc: 0.7980
Epoch 70/300
891/891 [==============================] - 0s 338us/step - loss: 0.4356 - acc: 0.8025
Epoch 71/300
891/891 [==============================] - 0s 292us/step - loss: 0.4425 - acc: 0.8081
Epoch 72/300
891/891 [==============================] - 0s 352us/step - loss: 0.4422 - acc: 0.7969
Epoch 73/300
891/891 [==============================] - 0s 291us/step - loss: 0.4475 - acc: 0.7935
Epoch 74/300
891/891 [==============================] - 0s 296us/step - loss: 0.4294 - acc: 0.8036
Epoch 75/300
891/891 [==============================] - 0s 309us/step - loss: 0.4333 - acc: 0.7980
Epoch 76/300
891/891 [==============================] - 0s 338us/step - loss: 0.4410 - acc: 0.7901
Epoch 77/300
891/891 [==============================] - 0s 277us/step - loss: 0.4283 - acc: 0.8025
Epoch 78/300
891/891 [==============================] - 0s 280us/step - loss: 0.4296 - acc: 0.8070
Epoch 79/300
891/891 [==============================] - 0s 251us/step - loss: 0.4329 - acc: 0.8025
Epoch 80/300
891/891 [==============================] - 0s 190us/step - loss: 0.4268 - acc: 0.8013
Epoch 81/300
891/891 [==============================] - 0s 207us/step - loss: 0.4332 - acc: 0.7946
Epoch 82/300
891/891 [==============================] - 0s 169us/step - loss: 0.4321 - acc: 0.7969
Epoch 83/300

891/891 [==============================] - 0s 165us/step - loss: 0.4290 - acc: 0.8081
Epoch 84/300
891/891 [==============================] - 0s 193us/step - loss: 0.4308 - acc: 0.8137
Epoch 85/300
891/891 [==============================] - 0s 170us/step - loss: 0.4178 - acc: 0.8126
Epoch 86/300
891/891 [==============================] - 0s 166us/step - loss: 0.4299 - acc: 0.8159
Epoch 87/300
891/891 [==============================] - 0s 211us/step - loss: 0.4211 - acc: 0.8092
Epoch 88/300
891/891 [==============================] - 0s 166us/step - loss: 0.4197 - acc: 0.8114
Epoch 89/300
891/891 [==============================] - 0s 174us/step - loss: 0.4307 - acc: 0.8103
Epoch 90/300
891/891 [==============================] - 0s 178us/step - loss: 0.4235 - acc: 0.8081
Epoch 91/300
891/891 [==============================] - 0s 167us/step - loss: 0.4379 - acc: 0.7946
Epoch 92/300
891/891 [==============================] - 0s 172us/step - loss: 0.4177 - acc: 0.8159
Epoch 93/300
891/891 [==============================] - 0s 163us/step - loss: 0.4218 - acc: 0.8148
Epoch 94/300
891/891 [==============================] - 0s 223us/step - loss: 0.4189 - acc: 0.8114
Epoch 95/300
891/891 [==============================] - 0s 165us/step - loss: 0.4738 - acc: 0.7969
Epoch 96/300
891/891 [==============================] - 0s 164us/step - loss: 0.4389 - acc: 0.8103
Epoch 97/300
891/891 [==============================] - 0s 172us/step - loss: 0.4408 - acc: 0.8103
Epoch 98/300
891/891 [==============================] - 0s 166us/step - loss: 0.4308 - acc: 0.8126
Epoch 99/300
891/891 [==============================] - 0s 168us/step - loss: 0.4716 - acc: 0.7980
Epoch 100/300
891/891 [==============================] - 0s 168us/step - loss: 0.4189 - acc: 0.8126
Epoch 101/300
891/891 [==============================] - 0s 223us/step - loss: 0.4138 - acc: 0.8092
Epoch 102/300
891/891 [==============================] - 0s 167us/step - loss: 0.4933 - acc: 0.7879
Epoch 103/300
891/891 [==============================] - 0s 166us/step - loss: 0.4244 - acc: 0.8047
Epoch 104/300
891/891 [==============================] - 0s 181us/step - loss: 0.4074 - acc: 0.8159
Epoch 105/300
891/891 [==============================] - 0s 167us/step - loss: 0.4123 - acc: 0.8159
Epoch 106/300
891/891 [==============================] - 0s 162us/step - loss: 0.4126 - acc: 0.8070
Epoch 107/300
891/891 [==============================] - 0s 183us/step - loss: 0.4242 - acc: 0.7991
Epoch 108/300
891/891 [==============================] - 0s 210us/step - loss: 0.4155 - acc: 0.8058
Epoch 109/300
891/891 [==============================] - 0s 162us/step - loss: 0.4142 - acc: 0.8159
Epoch 110/300
891/891 [==============================] - 0s 170us/step - loss: 0.4101 - acc: 0.8171
Epoch 111/300
891/891 [==============================] - 0s 167us/step - loss: 0.4115 - acc: 0.8103
Epoch 112/300
891/891 [==============================] - 0s 211us/step - loss: 0.4196 - acc: 0.8137
Epoch 113/300
891/891 [==============================] - 0s 199us/step - loss: 0.4098 - acc: 0.8137
Epoch 114/300
891/891 [==============================] - 0s 211us/step - loss: 0.4153 - acc: 0.8148
Epoch 115/300
891/891 [==============================] - 0s 227us/step - loss: 0.4179 - acc: 0.8159
Epoch 116/300
891/891 [==============================] - 0s 251us/step - loss: 0.4197 - acc: 0.8148
Epoch 117/300
891/891 [==============================] - 0s 208us/step - loss: 0.4286 - acc: 0.8081
Epoch 118/300
891/891 [==============================] - 0s 212us/step - loss: 0.4180 - acc: 0.8126
Epoch 119/300
891/891 [==============================] - 0s 215us/step - loss: 0.4324 - acc: 0.8092
Epoch 120/300
891/891 [==============================] - 0s 276us/step - loss: 0.4077 - acc: 0.8204
Epoch 121/300
891/891 [==============================] - 0s 210us/step - loss: 0.4110 - acc: 0.8148
Epoch 122/300
891/891 [==============================] - 0s 198us/step - loss: 0.4062 - acc: 0.8227 0s - loss: 0.4070 - acc: 0.82
Epoch 123/300
891/891 [==============================] - 0s 207us/step - loss: 0.4082 - acc: 0.8182
Epoch 124/300
891/891 [==============================] - 0s 204us/step - loss: 0.4288 - acc: 0.8058
Epoch 125/300
891/891 [==============================] - 0s 218us/step - loss: 0.4115 - acc: 0.8114
Epoch 126/300
891/891 [==============================] - 0s 229us/step - loss: 0.4084 - acc: 0.8159
Epoch 127/300
891/891 [==============================] - 0s 201us/step - loss: 0.4069 - acc: 0.8204
Epoch 128/300
891/891 [==============================] - 0s 195us/step - loss: 0.4227 - acc: 0.8137
Epoch 129/300
891/891 [==============================] - 0s 202us/step - loss: 0.4148 - acc: 0.8182
Epoch 130/300
891/891 [==============================] - 0s 201us/step - loss: 0.4233 - acc: 0.8159
Epoch 131/300
891/891 [==============================] - 0s 229us/step - loss: 0.4187 - acc: 0.8193
Epoch 132/300
891/891 [==============================] - 0s 202us/step - loss: 0.4051 - acc: 0.8193
Epoch 133/300
891/891 [==============================] - 0s 197us/step - loss: 0.4077 - acc: 0.8114
Epoch 134/300
891/891 [==============================] - 0s 209us/step - loss: 0.4347 - acc: 0.8182
Epoch 135/300
891/891 [==============================] - 0s 201us/step - loss: 0.4215 - acc: 0.8148
Epoch 136/300
891/891 [==============================] - 0s 204us/step - loss: 0.4092 - acc: 0.8171
Epoch 137/300
891/891 [==============================] - 0s 259us/step - loss: 0.4058 - acc: 0.8249
Epoch 138/300
891/891 [==============================] - 0s 195us/step - loss: 0.4055 - acc: 0.8272
Epoch 139/300
891/891 [==============================] - 0s 198us/step - loss: 0.4083 - acc: 0.8159
Epoch 140/300
891/891 [==============================] - 0s 211us/step - loss: 0.4286 - acc: 0.8159
Epoch 141/300
891/891 [==============================] - 0s 208us/step - loss: 0.4263 - acc: 0.8159
Epoch 142/300
891/891 [==============================] - 0s 214us/step - loss: 0.4081 - acc: 0.8148
Epoch 143/300
891/891 [==============================] - 0s 242us/step - loss: 0.4179 - acc: 0.8193
Epoch 144/300
891/891 [==============================] - 0s 190us/step - loss: 0.4001 - acc: 0.8260
Epoch 145/300
891/891 [==============================] - 0s 208us/step - loss: 0.4026 - acc: 0.8148
Epoch 146/300
891/891 [==============================] - 0s 207us/step - loss: 0.4067 - acc: 0.8171
Epoch 147/300
891/891 [==============================] - 0s 208us/step - loss: 0.4059 - acc: 0.8193
Epoch 148/300
891/891 [==============================] - 0s 255us/step - loss: 0.4112 - acc: 0.8272
Epoch 149/300
891/891 [==============================] - 0s 202us/step - loss: 0.4128 - acc: 0.8171
Epoch 150/300
891/891 [==============================] - 0s 210us/step - loss: 0.3998 - acc: 0.8249
Epoch 151/300
891/891 [==============================] - 0s 198us/step - loss: 0.4191 - acc: 0.8215
Epoch 152/300
891/891 [==============================] - 0s 203us/step - loss: 0.4027 - acc: 0.8238
Epoch 153/300
891/891 [==============================] - 0s 208us/step - loss: 0.4017 - acc: 0.8283
Epoch 154/300
891/891 [==============================] - 0s 241us/step - loss: 0.4227 - acc: 0.8215
Epoch 155/300
891/891 [==============================] - ETA: 0s - loss: 0.4078 - acc: 0.827 - 0s 191us/step - loss: 0.4078 - acc: 0.8272
Epoch 156/300
891/891 [==============================] - 0s 202us/step - loss: 0.4163 - acc: 0.8204
Epoch 157/300
891/891 [==============================] - 0s 206us/step - loss: 0.4163 - acc: 0.8249
Epoch 158/300
891/891 [==============================] - 0s 202us/step - loss: 0.4035 - acc: 0.8272
Epoch 159/300
891/891 [==============================] - 0s 213us/step - loss: 0.4275 - acc: 0.8114
Epoch 160/300
891/891 [==============================] - 0s 233us/step - loss: 0.3991 - acc: 0.8328
Epoch 161/300
891/891 [==============================] - 0s 196us/step - loss: 0.4068 - acc: 0.8238
Epoch 162/300
891/891 [==============================] - 0s 215us/step - loss: 0.3977 - acc: 0.8249
Epoch 163/300
891/891 [==============================] - 0s 207us/step - loss: 0.4120 - acc: 0.8260
Epoch 164/300

891/891 [==============================] - 0s 209us/step - loss: 0.4072 - acc: 0.8283
Epoch 165/300
891/891 [==============================] - 0s 220us/step - loss: 0.4193 - acc: 0.8260
Epoch 166/300
891/891 [==============================] - 0s 206us/step - loss: 0.4205 - acc: 0.8137
Epoch 167/300
891/891 [==============================] - 0s 204us/step - loss: 0.3997 - acc: 0.8339
Epoch 168/300
891/891 [==============================] - 0s 214us/step - loss: 0.3990 - acc: 0.8260
Epoch 169/300
891/891 [==============================] - 0s 197us/step - loss: 0.3984 - acc: 0.8182
Epoch 170/300
891/891 [==============================] - 0s 201us/step - loss: 0.4013 - acc: 0.8238
Epoch 171/300
891/891 [==============================] - 0s 248us/step - loss: 0.4058 - acc: 0.8305
Epoch 172/300
891/891 [==============================] - 0s 197us/step - loss: 0.3980 - acc: 0.8238
Epoch 173/300
891/891 [==============================] - 0s 203us/step - loss: 0.4310 - acc: 0.8182
Epoch 174/300
891/891 [==============================] - 0s 212us/step - loss: 0.4052 - acc: 0.8137
Epoch 175/300
891/891 [==============================] - 0s 198us/step - loss: 0.4116 - acc: 0.8238
Epoch 176/300
891/891 [==============================] - 0s 199us/step - loss: 0.6343 - acc: 0.7677
Epoch 177/300
891/891 [==============================] - 0s 250us/step - loss: 0.4334 - acc: 0.8159
Epoch 178/300
891/891 [==============================] - 0s 197us/step - loss: 0.4226 - acc: 0.8171
Epoch 179/300
891/891 [==============================] - 0s 198us/step - loss: 0.4149 - acc: 0.8249
Epoch 180/300
891/891 [==============================] - 0s 203us/step - loss: 0.4098 - acc: 0.8249
Epoch 181/300
891/891 [==============================] - 0s 206us/step - loss: 0.4079 - acc: 0.8373
Epoch 182/300
891/891 [==============================] - 0s 203us/step - loss: 0.4122 - acc: 0.8215
Epoch 183/300
891/891 [==============================] - 0s 253us/step - loss: 0.4051 - acc: 0.8283
Epoch 184/300
891/891 [==============================] - 0s 199us/step - loss: 0.4104 - acc: 0.8283
Epoch 185/300
891/891 [==============================] - 0s 205us/step - loss: 0.4071 - acc: 0.8249
Epoch 186/300
891/891 [==============================] - 0s 198us/step - loss: 0.4040 - acc: 0.8294
Epoch 187/300
891/891 [==============================] - 0s 201us/step - loss: 0.4053 - acc: 0.8283
Epoch 188/300
891/891 [==============================] - 0s 223us/step - loss: 0.3985 - acc: 0.8316
Epoch 189/300
891/891 [==============================] - 0s 226us/step - loss: 0.4023 - acc: 0.8316
Epoch 190/300
891/891 [==============================] - 0s 195us/step - loss: 0.4103 - acc: 0.8260
Epoch 191/300
891/891 [==============================] - 0s 204us/step - loss: 0.4144 - acc: 0.8283
Epoch 192/300
891/891 [==============================] - 0s 202us/step - loss: 0.4050 - acc: 0.8249
Epoch 193/300
891/891 [==============================] - 0s 209us/step - loss: 0.4052 - acc: 0.8260
Epoch 194/300
891/891 [==============================] - 0s 246us/step - loss: 0.4097 - acc: 0.8373
Epoch 195/300
891/891 [==============================] - 0s 201us/step - loss: 0.4124 - acc: 0.8249
Epoch 196/300
891/891 [==============================] - 0s 197us/step - loss: 0.4119 - acc: 0.8260
Epoch 197/300
891/891 [==============================] - 0s 200us/step - loss: 0.4187 - acc: 0.8193
Epoch 198/300
891/891 [==============================] - 0s 204us/step - loss: 0.4014 - acc: 0.8339
Epoch 199/300
891/891 [==============================] - 0s 199us/step - loss: 0.4039 - acc: 0.8328
Epoch 200/300
891/891 [==============================] - 0s 257us/step - loss: 0.4036 - acc: 0.8238
Epoch 201/300
891/891 [==============================] - 0s 205us/step - loss: 0.3961 - acc: 0.8305
Epoch 202/300
891/891 [==============================] - 0s 206us/step - loss: 0.4082 - acc: 0.8283 0s - loss: 0.4175 - acc: 0.8
Epoch 203/300
891/891 [==============================] - 0s 203us/step - loss: 0.4012 - acc: 0.8283
Epoch 204/300
891/891 [==============================] - 0s 208us/step - loss: 0.4098 - acc: 0.8283
Epoch 205/300
891/891 [==============================] - 0s 205us/step - loss: 0.4059 - acc: 0.8260
Epoch 206/300
891/891 [==============================] - 0s 229us/step - loss: 0.4014 - acc: 0.8339
Epoch 207/300
891/891 [==============================] - 0s 205us/step - loss: 0.4007 - acc: 0.8305
Epoch 208/300
891/891 [==============================] - 0s 201us/step - loss: 0.4093 - acc: 0.8283
Epoch 209/300
891/891 [==============================] - 0s 198us/step - loss: 0.3968 - acc: 0.8294
Epoch 210/300
891/891 [==============================] - 0s 212us/step - loss: 0.4017 - acc: 0.8294
Epoch 211/300
891/891 [==============================] - 0s 218us/step - loss: 0.4172 - acc: 0.8148
Epoch 212/300
891/891 [==============================] - 0s 218us/step - loss: 0.3977 - acc: 0.8260
Epoch 213/300
891/891 [==============================] - 0s 199us/step - loss: 0.3969 - acc: 0.8339
Epoch 214/300
891/891 [==============================] - 0s 203us/step - loss: 0.3979 - acc: 0.8361
Epoch 215/300
891/891 [==============================] - 0s 206us/step - loss: 0.3933 - acc: 0.8350
Epoch 216/300
891/891 [==============================] - 0s 201us/step - loss: 0.4108 - acc: 0.8260
Epoch 217/300
891/891 [==============================] - 0s 230us/step - loss: 0.4001 - acc: 0.8249
Epoch 218/300
891/891 [==============================] - 0s 196us/step - loss: 0.3996 - acc: 0.8406
Epoch 219/300
891/891 [==============================] - 0s 204us/step - loss: 0.4033 - acc: 0.8227
Epoch 220/300
891/891 [==============================] - 0s 201us/step - loss: 0.4051 - acc: 0.8227
Epoch 221/300
891/891 [==============================] - 0s 201us/step - loss: 0.4030 - acc: 0.8215
Epoch 222/300
891/891 [==============================] - 0s 205us/step - loss: 0.4028 - acc: 0.8204
Epoch 223/300
891/891 [==============================] - 0s 241us/step - loss: 0.4047 - acc: 0.8328
Epoch 224/300
891/891 [==============================] - 0s 192us/step - loss: 0.4154 - acc: 0.8260
Epoch 225/300
891/891 [==============================] - 0s 207us/step - loss: 0.4044 - acc: 0.8316
Epoch 226/300
891/891 [==============================] - 0s 204us/step - loss: 0.3966 - acc: 0.8361
Epoch 227/300
891/891 [==============================] - 0s 195us/step - loss: 0.4043 - acc: 0.8260
Epoch 228/300
891/891 [==============================] - 0s 203us/step - loss: 0.3948 - acc: 0.8272
Epoch 229/300
891/891 [==============================] - 0s 234us/step - loss: 0.4001 - acc: 0.8305
Epoch 230/300
891/891 [==============================] - 0s 198us/step - loss: 0.3976 - acc: 0.8294
Epoch 231/300
891/891 [==============================] - 0s 199us/step - loss: 0.3950 - acc: 0.8272
Epoch 232/300
891/891 [==============================] - 0s 211us/step - loss: 0.4071 - acc: 0.8350
Epoch 233/300
891/891 [==============================] - 0s 215us/step - loss: 0.4127 - acc: 0.8305
Epoch 234/300
891/891 [==============================] - 0s 222us/step - loss: 0.3940 - acc: 0.8283
Epoch 235/300
891/891 [==============================] - 0s 211us/step - loss: 0.4029 - acc: 0.8227
Epoch 236/300
891/891 [==============================] - 0s 214us/step - loss: 0.3973 - acc: 0.8272
Epoch 237/300
891/891 [==============================] - 0s 198us/step - loss: 0.4105 - acc: 0.8305
Epoch 238/300
891/891 [==============================] - 0s 198us/step - loss: 0.4064 - acc: 0.8283
Epoch 239/300
891/891 [==============================] - 0s 203us/step - loss: 0.4001 - acc: 0.8215
Epoch 240/300
891/891 [==============================] - 0s 241us/step - loss: 0.3973 - acc: 0.8316
Epoch 241/300
891/891 [==============================] - 0s 193us/step - loss: 0.4033 - acc: 0.8272
Epoch 242/300
891/891 [==============================] - 0s 197us/step - loss: 0.3933 - acc: 0.8294
Epoch 243/300
891/891 [==============================] - 0s 198us/step - loss: 0.3996 - acc: 0.8294
Epoch 244/300
891/891 [==============================] - 0s 200us/step - loss: 0.4081 - acc: 0.8238
Epoch 245/300

891/891 [==============================] - 0s 196us/step - loss: 0.3994 - acc: 0.8283
Epoch 246/300
891/891 [==============================] - 0s 237us/step - loss: 0.3913 - acc: 0.8294
Epoch 247/300
891/891 [==============================] - 0s 193us/step - loss: 0.4049 - acc: 0.8260
Epoch 248/300
891/891 [==============================] - 0s 192us/step - loss: 0.3931 - acc: 0.8215
Epoch 249/300
891/891 [==============================] - 0s 194us/step - loss: 0.3885 - acc: 0.8384
Epoch 250/300
891/891 [==============================] - 0s 193us/step - loss: 0.3926 - acc: 0.8339
Epoch 251/300
891/891 [==============================] - 0s 189us/step - loss: 0.4031 - acc: 0.8272
Epoch 252/300
891/891 [==============================] - 0s 244us/step - loss: 0.3958 - acc: 0.8260
Epoch 253/300
891/891 [==============================] - 0s 204us/step - loss: 0.4076 - acc: 0.8283
Epoch 254/300
891/891 [==============================] - 0s 269us/step - loss: 0.3935 - acc: 0.8305
Epoch 255/300
891/891 [==============================] - 0s 334us/step - loss: 0.3869 - acc: 0.8294
Epoch 256/300
891/891 [==============================] - 0s 370us/step - loss: 0.3859 - acc: 0.8294
Epoch 257/300
891/891 [==============================] - 0s 320us/step - loss: 0.3991 - acc: 0.8272
Epoch 258/300
891/891 [==============================] - 0s 316us/step - loss: 0.4038 - acc: 0.8238
Epoch 259/300
891/891 [==============================] - 0s 322us/step - loss: 0.4037 - acc: 0.8159
Epoch 260/300
891/891 [==============================] - 0s 372us/step - loss: 0.3918 - acc: 0.8305
Epoch 261/300
891/891 [==============================] - 0s 317us/step - loss: 0.3894 - acc: 0.8328
Epoch 262/300
891/891 [==============================] - 0s 322us/step - loss: 0.3950 - acc: 0.8350
Epoch 263/300
891/891 [==============================] - 0s 372us/step - loss: 0.3897 - acc: 0.8339
Epoch 264/300
891/891 [==============================] - 0s 343us/step - loss: 0.3920 - acc: 0.8272
Epoch 265/300
891/891 [==============================] - 0s 211us/step - loss: 0.3997 - acc: 0.8215
Epoch 266/300
891/891 [==============================] - 0s 185us/step - loss: 0.3970 - acc: 0.8339
Epoch 267/300
891/891 [==============================] - 0s 189us/step - loss: 0.3943 - acc: 0.8294
Epoch 268/300
891/891 [==============================] - 0s 170us/step - loss: 0.3983 - acc: 0.8260
Epoch 269/300
891/891 [==============================] - 0s 188us/step - loss: 0.3882 - acc: 0.8328
Epoch 270/300
891/891 [==============================] - 0s 286us/step - loss: 0.4005 - acc: 0.8260 0s - loss: 0.3919 - acc: 0.82
Epoch 271/300
891/891 [==============================] - 0s 313us/step - loss: 0.4010 - acc: 0.8215
Epoch 272/300
891/891 [==============================] - 0s 259us/step - loss: 0.4004 - acc: 0.8294
Epoch 273/300
891/891 [==============================] - 0s 253us/step - loss: 0.4046 - acc: 0.8204
Epoch 274/300
891/891 [==============================] - 0s 218us/step - loss: 0.3939 - acc: 0.8305
Epoch 275/300
891/891 [==============================] - 0s 249us/step - loss: 0.3927 - acc: 0.8350
Epoch 276/300
891/891 [==============================] - 0s 318us/step - loss: 0.3932 - acc: 0.8215 0s - loss: 0.4217 - acc: 0
Epoch 277/300
891/891 [==============================] - 0s 320us/step - loss: 0.4446 - acc: 0.8081
Epoch 278/300
891/891 [==============================] - 0s 320us/step - loss: 0.3926 - acc: 0.8283
Epoch 279/300
891/891 [==============================] - 0s 290us/step - loss: 0.3974 - acc: 0.8272
Epoch 280/300
891/891 [==============================] - 0s 282us/step - loss: 0.3860 - acc: 0.8384
Epoch 281/300
891/891 [==============================] - 0s 348us/step - loss: 0.4036 - acc: 0.8294
Epoch 282/300
891/891 [==============================] - 0s 370us/step - loss: 0.3906 - acc: 0.8339
Epoch 283/300
891/891 [==============================] - 0s 419us/step - loss: 0.3924 - acc: 0.8384
Epoch 284/300
891/891 [==============================] - 0s 306us/step - loss: 0.3895 - acc: 0.8328
Epoch 285/300
891/891 [==============================] - 0s 258us/step - loss: 0.3961 - acc: 0.8260
Epoch 286/300
891/891 [==============================] - 0s 311us/step - loss: 0.4032 - acc: 0.8193
Epoch 287/300
891/891 [==============================] - 0s 255us/step - loss: 0.3865 - acc: 0.8294
Epoch 288/300
891/891 [==============================] - 0s 192us/step - loss: 0.3885 - acc: 0.8361
Epoch 289/300
891/891 [==============================] - 0s 200us/step - loss: 0.3917 - acc: 0.8316
Epoch 290/300
891/891 [==============================] - 0s 217us/step - loss: 0.3922 - acc: 0.8272
Epoch 291/300
891/891 [==============================] - 0s 352us/step - loss: 0.3876 - acc: 0.8328
Epoch 292/300
891/891 [==============================] - 0s 273us/step - loss: 0.3997 - acc: 0.8227
Epoch 293/300
891/891 [==============================] - 0s 195us/step - loss: 0.3921 - acc: 0.8316
Epoch 294/300
891/891 [==============================] - 0s 223us/step - loss: 0.3882 - acc: 0.8373
Epoch 295/300
891/891 [==============================] - 0s 214us/step - loss: 0.3886 - acc: 0.8305
Epoch 296/300
891/891 [==============================] - 0s 365us/step - loss: 0.3981 - acc: 0.8339
Epoch 297/300
891/891 [==============================] - 0s 188us/step - loss: 0.3887 - acc: 0.8361
Epoch 298/300
891/891 [==============================] - 0s 169us/step - loss: 0.3913 - acc: 0.8238
Epoch 299/300
891/891 [==============================] - 0s 175us/step - loss: 0.3891 - acc: 0.8350
Epoch 300/300
891/891 [==============================] - 0s 179us/step - loss: 0.3907 - acc: 0.8238

In [295]:
model_evaluation=network.evaluate(train, y_train)
model_evaluation

891/891 [==============================] - 0s 213us/step

[0.37854867720376495, 0.8383838379155639]

In [296]:
y_pred=network.predict(test)
y_pred =(y_pred>0.5)

In [297]:
result = pd.DataFrame()

In [298]:
result['PassengerId'] = passengerId_test

In [299]:
result['Survived'] = y_pred

In [300]:
result['Survived'] = np.where(result['Survived'] == False,0,1)

In [301]:
result.to_csv("./datasets/results.csv",index=False)