
# Feed Forward 
__1. All nodes are fully connected.__<br>
__2. Activation flows from input layer to output, without back loops.__ <Br>
__3. There is one layer between input.__<Br>
__4. [Towards Data Science Blog BY Andrew Tch for neural networks details ](https://towardsdatascience.com/the-mostly-complete-chart-of-neural-networks-explained-3fb6f2367464).__

### Titanic Dataset is used to implement Feed Forward
[Download Titanic Dataset](https://www.kaggle.com/c/titanic/data).

In [145]:
import numpy as np 
import pandas as pd
from keras.preprocessing.text import Tokenizer
from keras import models
from keras import layers

In [186]:
def reading_test_train_data():
    train = pd.read_csv('./datasets/train.csv')
    test = pd.read_csv('./datasets/test.csv')
    return train,test


def adding_title_using_name(dataset):
    """
    Fetching Mr,Miss,Mrs title from name 
    """ 
    dataset['Title'] = dataset['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)
    dataset['Title'] = dataset['Title'].replace('Mlle', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Ms', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')
    return dataset


def converting_title_to_int(title):
    """
    Assigning Number to each title
    """
    title= title.strip().lower()
    if title == 'mr':
        return 1
    elif title =='miss':
        return 2
    elif title =='mrs':
        return 3
    else:
        return 0
    
def age_into_grp(dataset):
    """
    converting age into age_group as bins
    """
    bins = [0,11,18,22,27,33,40,66, 120]
    labels = [str(i) for i in range(1,len(bins))]
    print(labels)
    dataset['Age'] = pd.cut(dataset['Age'], bins, labels = labels,include_lowest = True)
    return dataset

In [187]:
train,test = reading_test_train_data()

In [188]:
# first 10 rows
train.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [189]:
# 891 rows 
# 12 columns /featurs including target
train.shape

(891, 12)

In [190]:
# only age count() is less then total df len means contains nan values
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

###  Manipulating --- AGE

In [191]:
# filling age with age median
train['Age'] = train['Age'].fillna(train['Age'].median())

### ADDING NEW FEATURE

In [192]:
# check who came with family or who came alone
train['with_family'] = train['SibSp'] + train['Parch']
train.loc[train['with_family'] > 0, 'not_alone'] = 0
train.loc[train['with_family'] == 0, 'not_alone'] = 1
train['not_alone'] = train['not_alone'].astype(int)
train.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,with_family,not_alone
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,1

### Filling Embarked column

In [193]:
# checking Embarked data stats
train['Embarked'].describe()

count     889
unique      3
top         S
freq      644
Name: Embarked, dtype: object

In [194]:
train['Embarked'] = train['Embarked'].fillna('S')

In [195]:

train['Embarked'] = train['Embarked'].astype('category').cat.codes

### Manipulating FARE

In [196]:
train['Fare'].describe() 
train['Fare'] = train['Fare'].astype(int)

### Manipulating GENDER feature

In [197]:
train['Sex'].unique()

array(['male', 'female'], dtype=object)

In [198]:
train['Sex'] = train['Sex'].astype('category').cat.codes
train['Sex'].unique()

array([1, 0], dtype=int64)

### Manipulating Name and extracting Title from it
#### Then Converting them into category

In [199]:
train = adding_title_using_name(train)

In [200]:
train['Title'] = train['Title'].apply(converting_title_to_int)

In [201]:
train['Title'].unique()

array([1, 3, 2, 0], dtype=int64)

## converting age into bins - range

In [202]:
train.isna().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age            False
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked       False
with_family    False
not_alone      False
Title          False
dtype: bool

In [203]:
train = age_into_grp(train)

['1', '2', '3', '4', '5', '6', '7', '8']

In [211]:
train['Age'].value_counts()

5    303
7    143
4    106
6    101
3     92
2     71
1     68
8      7
Name: Age, dtype: int64

In [212]:
train.drop(['PassengerId','Name','Ticket','Cabin'],axis=1,inplace=True)

KeyError: "['PassengerId' 'Name' 'Ticket' 'Cabin'] not found in axis"

In [213]:
train.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,with_family,not_alone,Title
0,0,3,1,3,1,0,7,2,1,0,1
1,1,1,0,6,1,0,71,0,1,0,3
2,1,3,0,4,0,0,7,2,0,1,2
3,1,1,0,6,1,0,53,2,1,0,3
4,0,3,1,6,0,0,8,2,0,1,1

## HANDLING TEST DATA AND PREPARING IT

In [214]:
# viewing test dataset
test.head(10)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
5,897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
6,898,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
7,899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
9,901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S

In [215]:
test.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  418.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   29.599282    0.447368    0.392344   35.627188
std     120.810458    0.841838   12.703770    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   23.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   35.750000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

### Manipulting age for test dataset

In [216]:
# filling age with age median
test['Age'] = test['Age'].fillna(test['Age'].median())

### Creating With_familt and not_alone feature

In [217]:
train.isna().any()

Survived       False
Pclass         False
Sex            False
Age            False
SibSp          False
Parch          False
Fare           False
Embarked       False
with_family    False
not_alone      False
Title          False
dtype: bool

In [218]:
# check who came with family or who came alone
test['with_family'] = test['SibSp'] + test['Parch']
test.loc[test['with_family'] > 0, 'not_alone'] = 0
test.loc[test['with_family'] == 0, 'not_alone'] = 1
test['not_alone'] = test['not_alone'].astype(int)
test.head(5)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,with_family,not_alone
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,0,1
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,1,0
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,0,1
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,0,1
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,2,0

### Filling Embarked column in test dataset

In [219]:
# checking Embarked data stats
test['Embarked'].describe()

count     418
unique      3
top         S
freq      270
Name: Embarked, dtype: object

In [220]:
test['Embarked'] = test['Embarked'].fillna('S')
test['Embarked'] = test['Embarked'].astype('category').cat.codes

### Manipulating FARE  in test dataset

In [221]:
test['Fare'].describe() 
test['Fare'] = train['Fare'].astype(int)

### Manipulating gender feature in test dataset

In [222]:
test['Sex'] = test['Sex'].astype('category').cat.codes
test['Sex'].unique()

array([1, 0], dtype=int64)

### Manipulating Name and extracting Title from it in test dataset
#### Then Converting them into category

In [223]:
test = adding_title_using_name(test)
test['Title'] = test['Title'].apply(converting_title_to_int)
test['Title'].unique()

array([1, 3, 2, 0], dtype=int64)

### converting age into bins

In [225]:
test = age_into_grp(test)
test.head()

['1', '2', '3', '4', '5', '6', '7', '8']

TypeError: '<' not supported between instances of 'int' and 'str'

In [226]:
test.isna().any()

PassengerId    False
Pclass         False
Name           False
Sex            False
Age            False
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked       False
with_family    False
not_alone      False
Title          False
dtype: bool

In [227]:
test.drop(['Name','Ticket','Cabin'],axis=1,inplace=True)

In [228]:
passengerId_test = test['PassengerId']

In [229]:
test.drop(['PassengerId'],axis=1,inplace=True)

In [230]:
train.dropna(inplace=True)
y_train = train['Survived']

In [231]:
train.drop(['Survived'],axis=1,inplace=True)

###  Create feed forward neural network to train data

In [232]:
def feed_foward_model(number_of_features):
    # Start neural network
    model = models.Sequential()

    # Add fully connected layer with a ReLU activation function
    model.add(layers.Dense(units=16, activation='relu', input_shape=(number_of_features,)))

    # Add fully connected layer with a ReLU activation function
    model.add(layers.Dense(units=16, activation='relu'))

    # Add fully connected layer with a sigmoid activation function
    model.add(layers.Dense(units=1, activation='sigmoid'))
    
    return model

In [233]:
network = feed_foward_model(len(test.columns))
network.compile(optimizer ='adam',loss='binary_crossentropy', metrics =['accuracy'])# Accuracy performance metric

In [234]:
#Fitting the data to the training dataset
network.fit(train,y_train, batch_size=10, epochs=300)

Epoch 1/300
891/891 [==============================] - 2s 2ms/step - loss: 1.7530 - acc: 0.5466
Epoch 2/300
891/891 [==============================] - 0s 162us/step - loss: 0.6213 - acc: 0.6801 0s - loss: 0.6164 - acc: 0.69
Epoch 3/300
891/891 [==============================] - 0s 141us/step - loss: 0.5940 - acc: 0.6914
Epoch 4/300
891/891 [==============================] - 0s 142us/step - loss: 0.5788 - acc: 0.6958
Epoch 5/300
891/891 [==============================] - 0s 172us/step - loss: 0.5558 - acc: 0.7194
Epoch 6/300
891/891 [==============================] - 0s 181us/step - loss: 0.5478 - acc: 0.7239
Epoch 7/300
891/891 [==============================] - 0s 278us/step - loss: 0.5282 - acc: 0.7430
Epoch 8/300
891/891 [==============================] - 0s 212us/step - loss: 0.5254 - acc: 0.7475
Epoch 9/300
891/891 [==============================] - 0s 195us/step - loss: 0.5184 - acc: 0.7587
Epoch 10/300
891/891 [==============================] - 0s 185us/step - loss: 0.5034 - acc: 0.7654 0s - loss: 0.4926 - acc: 0.76
Epoch 11/300
891/891 [==============================] - 0s 189us/step - loss: 0.5021 - acc: 0.7733
Epoch 12/300
891/891 [==============================] - 0s 182us/step - loss: 0.4955 - acc: 0.7856
Epoch 13/300
891/891 [==============================] - 0s 221us/step - loss: 0.4932 - acc: 0.7722
Epoch 14/300
891/891 [==============================] - 0s 192us/step - loss: 0.5002 - acc: 0.7733
Epoch 15/300
891/891 [==============================] - 0s 184us/step - loss: 0.4864 - acc: 0.7834
Epoch 16/300
891/891 [==============================] - 0s 175us/step - loss: 0.4831 - acc: 0.7755
Epoch 17/300
891/891 [==============================] - 0s 171us/step - loss: 0.4775 - acc: 0.7834
Epoch 18/300
891/891 [==============================] - 0s 184us/step - loss: 0.4769 - acc: 0.7868
Epoch 19/300
891/891 [==============================] - 0s 223us/step - loss: 0.4918 - acc: 0.7834
Epoch 20/300
891/891 [==============================] - 0s 179us/step - loss: 0.4761 - acc: 0.7946
Epoch 21/300
891/891 [==============================] - 0s 179us/step - loss: 0.4712 - acc: 0.7924
Epoch 22/300
891/891 [==============================] - 0s 164us/step - loss: 0.4737 - acc: 0.7856
Epoch 23/300
891/891 [==============================] - 0s 186us/step - loss: 0.4690 - acc: 0.7924
Epoch 24/300
891/891 [==============================] - 0s 190us/step - loss: 0.4695 - acc: 0.7969
Epoch 25/300
891/891 [==============================] - 0s 224us/step - loss: 0.4702 - acc: 0.7957
Epoch 26/300
891/891 [==============================] - ETA: 0s - loss: 0.4593 - acc: 0.801 - 0s 198us/step - loss: 0.4756 - acc: 0.7901
Epoch 27/300
891/891 [==============================] - 0s 198us/step - loss: 0.4710 - acc: 0.7946
Epoch 28/300
891/891 [==============================] - 0s 250us/step - loss: 0.4628 - acc: 0.8047
Epoch 29/300
891/891 [==============================] - 0s 287us/step - loss: 0.4700 - acc: 0.7946 0s - loss: 0.5045 - acc: 0.
Epoch 30/300
891/891 [==============================] - 0s 255us/step - loss: 0.4639 - acc: 0.8058
Epoch 31/300
891/891 [==============================] - 0s 242us/step - loss: 0.4621 - acc: 0.7969
Epoch 32/300
891/891 [==============================] - 0s 227us/step - loss: 0.4723 - acc: 0.7969
Epoch 33/300
891/891 [==============================] - 0s 259us/step - loss: 0.4675 - acc: 0.7991
Epoch 34/300
891/891 [==============================] - 0s 214us/step - loss: 0.4679 - acc: 0.7991
Epoch 35/300
891/891 [==============================] - 0s 212us/step - loss: 0.4641 - acc: 0.8002
Epoch 36/300
891/891 [==============================] - 0s 211us/step - loss: 0.4601 - acc: 0.8002
Epoch 37/300
891/891 [==============================] - 0s 211us/step - loss: 0.4661 - acc: 0.7946
Epoch 38/300
891/891 [==============================] - 0s 241us/step - loss: 0.4581 - acc: 0.7912
Epoch 39/300
891/891 [==============================] - 0s 209us/step - loss: 0.4554 - acc: 0.8025
Epoch 40/300
891/891 [==============================] - 0s 204us/step - loss: 0.4595 - acc: 0.7912
Epoch 41/300
891/891 [==============================] - 0s 233us/step - loss: 0.4597 - acc: 0.7991
Epoch 42/300
891/891 [==============================] - 0s 203us/step - loss: 0.4540 - acc: 0.7924
Epoch 43/300
891/891 [==============================] - 0s 217us/step - loss: 0.4500 - acc: 0.7969
Epoch 44/300
891/891 [==============================] - 0s 204us/step - loss: 0.4540 - acc: 0.7980
Epoch 45/300
891/891 [==============================] - 0s 220us/step - loss: 0.4494 - acc: 0.8025
Epoch 46/300
891/891 [==============================] - 0s 199us/step - loss: 0.4539 - acc: 0.7935
Epoch 47/300
891/891 [==============================] - 0s 255us/step - loss: 0.4495 - acc: 0.7946
Epoch 48/300
891/891 [==============================] - 0s 247us/step - loss: 0.4449 - acc: 0.8002
Epoch 49/300
891/891 [==============================] - 0s 259us/step - loss: 0.4471 - acc: 0.7957
Epoch 50/300
891/891 [==============================] - 0s 267us/step - loss: 0.4526 - acc: 0.7991 0s - loss: 0.4121 - acc: 0.
Epoch 51/300
891/891 [==============================] - 0s 433us/step - loss: 0.4486 - acc: 0.7980
Epoch 52/300
891/891 [==============================] - 0s 299us/step - loss: 0.4386 - acc: 0.8047
Epoch 53/300
891/891 [==============================] - 0s 195us/step - loss: 0.4417 - acc: 0.8025
Epoch 54/300
891/891 [==============================] - 0s 274us/step - loss: 0.4462 - acc: 0.8025
Epoch 55/300
891/891 [==============================] - 0s 312us/step - loss: 0.4484 - acc: 0.8013
Epoch 56/300
891/891 [==============================] - 0s 355us/step - loss: 0.4576 - acc: 0.8002
Epoch 57/300
891/891 [==============================] - 0s 311us/step - loss: 0.4496 - acc: 0.7991
Epoch 58/300
891/891 [==============================] - 0s 282us/step - loss: 0.4350 - acc: 0.8036
Epoch 59/300
891/891 [==============================] - 0s 344us/step - loss: 0.4384 - acc: 0.8114
Epoch 60/300
891/891 [==============================] - 0s 268us/step - loss: 0.4342 - acc: 0.8058
Epoch 61/300
891/891 [==============================] - 0s 263us/step - loss: 0.4370 - acc: 0.8047
Epoch 62/300
891/891 [==============================] - 0s 265us/step - loss: 0.4410 - acc: 0.8002
Epoch 63/300
891/891 [==============================] - 0s 295us/step - loss: 0.4365 - acc: 0.8047
Epoch 64/300
891/891 [==============================] - 0s 292us/step - loss: 0.4323 - acc: 0.8126
Epoch 65/300
891/891 [==============================] - 0s 226us/step - loss: 0.4358 - acc: 0.8159
Epoch 66/300
891/891 [==============================] - 0s 258us/step - loss: 0.4259 - acc: 0.8058
Epoch 67/300
891/891 [==============================] - 0s 286us/step - loss: 0.4353 - acc: 0.8047
Epoch 68/300
891/891 [==============================] - 0s 296us/step - loss: 0.4252 - acc: 0.8148
Epoch 69/300
891/891 [==============================] - 0s 255us/step - loss: 0.4257 - acc: 0.8114
Epoch 70/300
891/891 [==============================] - 0s 276us/step - loss: 0.4249 - acc: 0.8126
Epoch 71/300
891/891 [==============================] - ETA: 0s - loss: 0.4195 - acc: 0.824 - 0s 202us/step - loss: 0.4247 - acc: 0.8193
Epoch 72/300
891/891 [==============================] - 0s 159us/step - loss: 0.4301 - acc: 0.8148
Epoch 73/300
891/891 [==============================] - 0s 183us/step - loss: 0.4237 - acc: 0.8081
Epoch 74/300
891/891 [==============================] - 0s 177us/step - loss: 0.4238 - acc: 0.8148
Epoch 75/300
891/891 [==============================] - 0s 152us/step - loss: 0.4197 - acc: 0.8114
Epoch 76/300
891/891 [==============================] - 0s 163us/step - loss: 0.4189 - acc: 0.8182
Epoch 77/300
891/891 [==============================] - 0s 150us/step - loss: 0.4298 - acc: 0.8103
Epoch 78/300
891/891 [==============================] - 0s 171us/step - loss: 0.4186 - acc: 0.8137
Epoch 79/300
891/891 [==============================] - 0s 152us/step - loss: 0.4196 - acc: 0.8126
Epoch 80/300
891/891 [==============================] - 0s 161us/step - loss: 0.4171 - acc: 0.8204
Epoch 81/300

891/891 [==============================] - 0s 292us/step - loss: 0.4244 - acc: 0.8137
Epoch 82/300
891/891 [==============================] - 0s 282us/step - loss: 0.4139 - acc: 0.8204
Epoch 83/300
891/891 [==============================] - 0s 273us/step - loss: 0.4128 - acc: 0.8204
Epoch 84/300
891/891 [==============================] - 0s 297us/step - loss: 0.4164 - acc: 0.8204
Epoch 85/300
891/891 [==============================] - 0s 329us/step - loss: 0.4171 - acc: 0.8249
Epoch 86/300
891/891 [==============================] - 0s 268us/step - loss: 0.4215 - acc: 0.8137
Epoch 87/300
891/891 [==============================] - 0s 271us/step - loss: 0.4148 - acc: 0.8204
Epoch 88/300
891/891 [==============================] - 0s 283us/step - loss: 0.4104 - acc: 0.8316
Epoch 89/300
891/891 [==============================] - 0s 317us/step - loss: 0.4175 - acc: 0.8215
Epoch 90/300
891/891 [==============================] - 0s 260us/step - loss: 0.4078 - acc: 0.8294
Epoch 91/300
891/891 [==============================] - 0s 251us/step - loss: 0.4196 - acc: 0.8137
Epoch 92/300
891/891 [==============================] - 0s 251us/step - loss: 0.4151 - acc: 0.8182
Epoch 93/300
891/891 [==============================] - 0s 229us/step - loss: 0.4107 - acc: 0.8249
Epoch 94/300
891/891 [==============================] - 0s 265us/step - loss: 0.4209 - acc: 0.8148
Epoch 95/300
891/891 [==============================] - 0s 276us/step - loss: 0.4178 - acc: 0.8159 0s - loss: 0.3936 - acc: 0.
Epoch 96/300
891/891 [==============================] - 0s 249us/step - loss: 0.4368 - acc: 0.8137
Epoch 97/300
891/891 [==============================] - 0s 256us/step - loss: 0.4101 - acc: 0.8193
Epoch 98/300
891/891 [==============================] - 0s 269us/step - loss: 0.4081 - acc: 0.8204
Epoch 99/300
891/891 [==============================] - 0s 273us/step - loss: 0.4125 - acc: 0.8137
Epoch 100/300
891/891 [==============================] - 0s 229us/step - loss: 0.4118 - acc: 0.8193
Epoch 101/300
891/891 [==============================] - 0s 224us/step - loss: 0.4124 - acc: 0.8159
Epoch 102/300
891/891 [==============================] - 0s 221us/step - loss: 0.4070 - acc: 0.8260
Epoch 103/300
891/891 [==============================] - 0s 258us/step - loss: 0.4113 - acc: 0.8215
Epoch 104/300
891/891 [==============================] - 0s 280us/step - loss: 0.4007 - acc: 0.8182
Epoch 105/300
891/891 [==============================] - 0s 263us/step - loss: 0.4126 - acc: 0.8227
Epoch 106/300
891/891 [==============================] - 0s 229us/step - loss: 0.4073 - acc: 0.8137
Epoch 107/300
891/891 [==============================] - 0s 241us/step - loss: 0.4055 - acc: 0.8272
Epoch 108/300
891/891 [==============================] - 0s 301us/step - loss: 0.4176 - acc: 0.8204
Epoch 109/300
891/891 [==============================] - 0s 246us/step - loss: 0.4039 - acc: 0.8238
Epoch 110/300
891/891 [==============================] - 0s 215us/step - loss: 0.4035 - acc: 0.8294
Epoch 111/300
891/891 [==============================] - 0s 166us/step - loss: 0.4082 - acc: 0.8227
Epoch 112/300
891/891 [==============================] - 0s 161us/step - loss: 0.4019 - acc: 0.8305
Epoch 113/300
891/891 [==============================] - 0s 170us/step - loss: 0.4170 - acc: 0.8148
Epoch 114/300
891/891 [==============================] - ETA: 0s - loss: 0.4072 - acc: 0.823 - 0s 191us/step - loss: 0.4102 - acc: 0.8215
Epoch 115/300
891/891 [==============================] - 0s 157us/step - loss: 0.4014 - acc: 0.8294
Epoch 116/300
891/891 [==============================] - 0s 179us/step - loss: 0.3992 - acc: 0.8316
Epoch 117/300
891/891 [==============================] - 0s 156us/step - loss: 0.4054 - acc: 0.8204
Epoch 118/300
891/891 [==============================] - 0s 159us/step - loss: 0.3989 - acc: 0.8283
Epoch 119/300
891/891 [==============================] - 0s 159us/step - loss: 0.4114 - acc: 0.8249
Epoch 120/300
891/891 [==============================] - 0s 170us/step - loss: 0.4046 - acc: 0.8294
Epoch 121/300
891/891 [==============================] - 0s 165us/step - loss: 0.4006 - acc: 0.8305
Epoch 122/300
891/891 [==============================] - 0s 181us/step - loss: 0.4002 - acc: 0.8204
Epoch 123/300
891/891 [==============================] - 0s 164us/step - loss: 0.4044 - acc: 0.8249
Epoch 124/300
891/891 [==============================] - 0s 153us/step - loss: 0.4062 - acc: 0.8305
Epoch 125/300
891/891 [==============================] - 0s 162us/step - loss: 0.4031 - acc: 0.8204
Epoch 126/300
891/891 [==============================] - 0s 161us/step - loss: 0.4042 - acc: 0.8272
Epoch 127/300
891/891 [==============================] - 0s 171us/step - loss: 0.4139 - acc: 0.8283
Epoch 128/300
891/891 [==============================] - 0s 158us/step - loss: 0.4138 - acc: 0.8249
Epoch 129/300
891/891 [==============================] - 0s 203us/step - loss: 0.4065 - acc: 0.8193
Epoch 130/300
891/891 [==============================] - 0s 194us/step - loss: 0.4022 - acc: 0.8305
Epoch 131/300
891/891 [==============================] - 0s 172us/step - loss: 0.4051 - acc: 0.8328
Epoch 132/300
891/891 [==============================] - 0s 155us/step - loss: 0.4082 - acc: 0.8227
Epoch 133/300
891/891 [==============================] - 0s 165us/step - loss: 0.4122 - acc: 0.8260
Epoch 134/300
891/891 [==============================] - 0s 157us/step - loss: 0.4646 - acc: 0.8193
Epoch 135/300
891/891 [==============================] - 0s 193us/step - loss: 0.4156 - acc: 0.8215
Epoch 136/300
891/891 [==============================] - 0s 180us/step - loss: 0.4075 - acc: 0.8305
Epoch 137/300
891/891 [==============================] - 0s 153us/step - loss: 0.3965 - acc: 0.8294
Epoch 138/300
891/891 [==============================] - 0s 169us/step - loss: 0.4010 - acc: 0.8328
Epoch 139/300
891/891 [==============================] - 0s 157us/step - loss: 0.4057 - acc: 0.8283
Epoch 140/300
891/891 [==============================] - 0s 162us/step - loss: 0.4053 - acc: 0.8193
Epoch 141/300
891/891 [==============================] - 0s 158us/step - loss: 0.3999 - acc: 0.8305
Epoch 142/300
891/891 [==============================] - 0s 159us/step - loss: 0.4121 - acc: 0.8204
Epoch 143/300
891/891 [==============================] - 0s 206us/step - loss: 0.4078 - acc: 0.8260
Epoch 144/300
891/891 [==============================] - 0s 160us/step - loss: 0.4149 - acc: 0.8193
Epoch 145/300
891/891 [==============================] - 0s 162us/step - loss: 0.4030 - acc: 0.8215
Epoch 146/300
891/891 [==============================] - 0s 159us/step - loss: 0.4006 - acc: 0.8238
Epoch 147/300
891/891 [==============================] - 0s 164us/step - loss: 0.4085 - acc: 0.8215
Epoch 148/300
891/891 [==============================] - 0s 158us/step - loss: 0.4047 - acc: 0.8272
Epoch 149/300
891/891 [==============================] - 0s 162us/step - loss: 0.4091 - acc: 0.8283
Epoch 150/300
891/891 [==============================] - 0s 203us/step - loss: 0.4008 - acc: 0.8227
Epoch 151/300
891/891 [==============================] - 0s 170us/step - loss: 0.4092 - acc: 0.8272
Epoch 152/300
891/891 [==============================] - 0s 163us/step - loss: 0.4049 - acc: 0.8182
Epoch 153/300
891/891 [==============================] - 0s 161us/step - loss: 0.4085 - acc: 0.8249
Epoch 154/300
891/891 [==============================] - 0s 155us/step - loss: 0.3993 - acc: 0.8204
Epoch 155/300
891/891 [==============================] - 0s 193us/step - loss: 0.4095 - acc: 0.8238
Epoch 156/300
891/891 [==============================] - 0s 148us/step - loss: 0.3969 - acc: 0.8249
Epoch 157/300
891/891 [==============================] - 0s 243us/step - loss: 0.4466 - acc: 0.8114
Epoch 158/300
891/891 [==============================] - 0s 205us/step - loss: 0.4204 - acc: 0.8204
Epoch 159/300
891/891 [==============================] - 0s 203us/step - loss: 0.4212 - acc: 0.8092
Epoch 160/300
891/891 [==============================] - 0s 200us/step - loss: 0.4139 - acc: 0.8272
Epoch 161/300
891/891 [==============================] - 0s 193us/step - loss: 0.4236 - acc: 0.7969
Epoch 162/300

891/891 [==============================] - 0s 201us/step - loss: 0.4047 - acc: 0.8249
Epoch 163/300
891/891 [==============================] - 0s 252us/step - loss: 0.4086 - acc: 0.8182
Epoch 164/300
891/891 [==============================] - 0s 198us/step - loss: 0.4125 - acc: 0.8193
Epoch 165/300
891/891 [==============================] - 0s 197us/step - loss: 0.4238 - acc: 0.8249
Epoch 166/300
891/891 [==============================] - 0s 188us/step - loss: 0.4072 - acc: 0.8215
Epoch 167/300
891/891 [==============================] - 0s 181us/step - loss: 0.4101 - acc: 0.8204
Epoch 168/300
891/891 [==============================] - 0s 178us/step - loss: 0.4050 - acc: 0.8204
Epoch 169/300
891/891 [==============================] - 0s 226us/step - loss: 0.4041 - acc: 0.8260
Epoch 170/300
891/891 [==============================] - 0s 188us/step - loss: 0.4073 - acc: 0.8227
Epoch 171/300
891/891 [==============================] - 0s 186us/step - loss: 0.4063 - acc: 0.8215
Epoch 172/300
891/891 [==============================] - 0s 187us/step - loss: 0.4093 - acc: 0.8238
Epoch 173/300
891/891 [==============================] - 0s 189us/step - loss: 0.4041 - acc: 0.8260
Epoch 174/300
891/891 [==============================] - 0s 195us/step - loss: 0.4128 - acc: 0.8204
Epoch 175/300
891/891 [==============================] - 0s 209us/step - loss: 0.4080 - acc: 0.8227
Epoch 176/300
891/891 [==============================] - 0s 269us/step - loss: 0.4063 - acc: 0.8249
Epoch 177/300
891/891 [==============================] - 0s 330us/step - loss: 0.4046 - acc: 0.8350
Epoch 178/300
891/891 [==============================] - 0s 322us/step - loss: 0.4123 - acc: 0.8215
Epoch 179/300
891/891 [==============================] - 0s 336us/step - loss: 0.4322 - acc: 0.8272
Epoch 180/300
891/891 [==============================] - 0s 306us/step - loss: 0.4065 - acc: 0.8316
Epoch 181/300
891/891 [==============================] - 0s 288us/step - loss: 0.4014 - acc: 0.8328
Epoch 182/300
891/891 [==============================] - 0s 314us/step - loss: 0.4060 - acc: 0.8249
Epoch 183/300
891/891 [==============================] - 0s 315us/step - loss: 0.3962 - acc: 0.8260
Epoch 184/300
891/891 [==============================] - 0s 275us/step - loss: 0.4033 - acc: 0.8272
Epoch 185/300
891/891 [==============================] - 0s 320us/step - loss: 0.4054 - acc: 0.8204
Epoch 186/300
891/891 [==============================] - 0s 291us/step - loss: 0.3916 - acc: 0.8316
Epoch 187/300
891/891 [==============================] - 0s 290us/step - loss: 0.3981 - acc: 0.8272
Epoch 188/300
891/891 [==============================] - 0s 287us/step - loss: 0.3944 - acc: 0.8294
Epoch 189/300
891/891 [==============================] - 0s 296us/step - loss: 0.3981 - acc: 0.8328
Epoch 190/300
891/891 [==============================] - 0s 374us/step - loss: 0.3893 - acc: 0.8395
Epoch 191/300
891/891 [==============================] - 0s 330us/step - loss: 0.3970 - acc: 0.8384
Epoch 192/300
891/891 [==============================] - 0s 272us/step - loss: 0.3911 - acc: 0.8384
Epoch 193/300
891/891 [==============================] - 0s 265us/step - loss: 0.3970 - acc: 0.8294
Epoch 194/300
891/891 [==============================] - 0s 292us/step - loss: 0.4704 - acc: 0.7991
Epoch 195/300
891/891 [==============================] - 0s 311us/step - loss: 0.4088 - acc: 0.8182
Epoch 196/300
891/891 [==============================] - 0s 337us/step - loss: 0.4076 - acc: 0.8272
Epoch 197/300
891/891 [==============================] - 0s 307us/step - loss: 0.3940 - acc: 0.8305
Epoch 198/300
891/891 [==============================] - 0s 323us/step - loss: 0.3975 - acc: 0.8373
Epoch 199/300
891/891 [==============================] - 0s 284us/step - loss: 0.3919 - acc: 0.8350
Epoch 200/300
891/891 [==============================] - 0s 227us/step - loss: 0.3921 - acc: 0.8361
Epoch 201/300
891/891 [==============================] - 0s 173us/step - loss: 0.4053 - acc: 0.8260
Epoch 202/300
891/891 [==============================] - 0s 189us/step - loss: 0.3968 - acc: 0.8361
Epoch 203/300
891/891 [==============================] - 0s 202us/step - loss: 0.4044 - acc: 0.8215
Epoch 204/300
891/891 [==============================] - 0s 202us/step - loss: 0.3890 - acc: 0.8339
Epoch 205/300
891/891 [==============================] - 0s 222us/step - loss: 0.3893 - acc: 0.8339 0s - loss: 0.4032 - acc: 0.8
Epoch 206/300
891/891 [==============================] - 0s 218us/step - loss: 0.3948 - acc: 0.8339
Epoch 207/300
891/891 [==============================] - 0s 203us/step - loss: 0.3894 - acc: 0.8328
Epoch 208/300
891/891 [==============================] - 0s 231us/step - loss: 0.3956 - acc: 0.8272
Epoch 209/300
891/891 [==============================] - 0s 203us/step - loss: 0.3957 - acc: 0.8294
Epoch 210/300
891/891 [==============================] - 0s 197us/step - loss: 0.4024 - acc: 0.8339
Epoch 211/300
891/891 [==============================] - 0s 286us/step - loss: 0.3912 - acc: 0.8283
Epoch 212/300
891/891 [==============================] - 0s 296us/step - loss: 0.4141 - acc: 0.8294
Epoch 213/300
891/891 [==============================] - 0s 250us/step - loss: 0.3897 - acc: 0.8373
Epoch 214/300
891/891 [==============================] - 0s 283us/step - loss: 0.3921 - acc: 0.8272
Epoch 215/300
891/891 [==============================] - 0s 254us/step - loss: 0.3904 - acc: 0.8350
Epoch 216/300
891/891 [==============================] - 0s 225us/step - loss: 0.3884 - acc: 0.8316
Epoch 217/300
891/891 [==============================] - 0s 218us/step - loss: 0.3930 - acc: 0.8316
Epoch 218/300
891/891 [==============================] - 0s 258us/step - loss: 0.3979 - acc: 0.8339
Epoch 219/300
891/891 [==============================] - 0s 240us/step - loss: 0.4544 - acc: 0.8171
Epoch 220/300
891/891 [==============================] - 0s 223us/step - loss: 0.3905 - acc: 0.8215
Epoch 221/300
891/891 [==============================] - 0s 232us/step - loss: 0.3840 - acc: 0.8316
Epoch 222/300
891/891 [==============================] - 0s 239us/step - loss: 0.3889 - acc: 0.8305
Epoch 223/300
891/891 [==============================] - 0s 231us/step - loss: 0.3880 - acc: 0.8328
Epoch 224/300
891/891 [==============================] - 0s 255us/step - loss: 0.3862 - acc: 0.8305
Epoch 225/300
891/891 [==============================] - 0s 225us/step - loss: 0.3923 - acc: 0.8339
Epoch 226/300
891/891 [==============================] - 0s 246us/step - loss: 0.4091 - acc: 0.8193
Epoch 227/300
891/891 [==============================] - 0s 254us/step - loss: 0.3915 - acc: 0.8406
Epoch 228/300
891/891 [==============================] - 0s 262us/step - loss: 0.4103 - acc: 0.8227
Epoch 229/300
891/891 [==============================] - 0s 239us/step - loss: 0.3971 - acc: 0.8361
Epoch 230/300
891/891 [==============================] - 0s 216us/step - loss: 0.3979 - acc: 0.8361
Epoch 231/300
891/891 [==============================] - 0s 192us/step - loss: 0.3899 - acc: 0.8339
Epoch 232/300
891/891 [==============================] - 0s 157us/step - loss: 0.4140 - acc: 0.8260
Epoch 233/300
891/891 [==============================] - 0s 210us/step - loss: 0.3967 - acc: 0.8305
Epoch 234/300
891/891 [==============================] - 0s 240us/step - loss: 0.3907 - acc: 0.8328
Epoch 235/300
891/891 [==============================] - 0s 257us/step - loss: 0.3844 - acc: 0.8361
Epoch 236/300
891/891 [==============================] - 0s 255us/step - loss: 0.3863 - acc: 0.8283
Epoch 237/300
891/891 [==============================] - 0s 212us/step - loss: 0.3950 - acc: 0.8227
Epoch 238/300
891/891 [==============================] - 0s 215us/step - loss: 0.3908 - acc: 0.8283
Epoch 239/300
891/891 [==============================] - 0s 221us/step - loss: 0.3921 - acc: 0.8406
Epoch 240/300
891/891 [==============================] - 0s 255us/step - loss: 0.3884 - acc: 0.8361
Epoch 241/300
891/891 [==============================] - 0s 259us/step - loss: 0.3841 - acc: 0.8395
Epoch 242/300
891/891 [==============================] - 0s 229us/step - loss: 0.3855 - acc: 0.8350
Epoch 243/300

891/891 [==============================] - 0s 267us/step - loss: 0.4039 - acc: 0.8272
Epoch 244/300
891/891 [==============================] - 0s 346us/step - loss: 0.4110 - acc: 0.8305
Epoch 245/300
891/891 [==============================] - 0s 202us/step - loss: 0.3843 - acc: 0.8395
Epoch 246/300
891/891 [==============================] - 0s 259us/step - loss: 0.3876 - acc: 0.8350
Epoch 247/300
891/891 [==============================] - 0s 190us/step - loss: 0.3922 - acc: 0.8384
Epoch 248/300
891/891 [==============================] - 0s 309us/step - loss: 0.3950 - acc: 0.8305
Epoch 249/300
891/891 [==============================] - 0s 199us/step - loss: 0.3856 - acc: 0.8305
Epoch 250/300
891/891 [==============================] - 0s 189us/step - loss: 0.3934 - acc: 0.8395
Epoch 251/300
891/891 [==============================] - 0s 313us/step - loss: 0.3945 - acc: 0.8305
Epoch 252/300
891/891 [==============================] - 0s 208us/step - loss: 0.4005 - acc: 0.8260
Epoch 253/300
891/891 [==============================] - 0s 226us/step - loss: 0.3902 - acc: 0.8260
Epoch 254/300
891/891 [==============================] - 0s 287us/step - loss: 0.3955 - acc: 0.8260
Epoch 255/300
891/891 [==============================] - 0s 190us/step - loss: 0.4026 - acc: 0.8260
Epoch 256/300
891/891 [==============================] - 0s 303us/step - loss: 0.3967 - acc: 0.8305
Epoch 257/300
891/891 [==============================] - 0s 283us/step - loss: 0.3870 - acc: 0.8373
Epoch 258/300
891/891 [==============================] - 0s 188us/step - loss: 0.3949 - acc: 0.8328
Epoch 259/300
891/891 [==============================] - 0s 205us/step - loss: 0.3842 - acc: 0.8339
Epoch 260/300
891/891 [==============================] - 0s 206us/step - loss: 0.3924 - acc: 0.8328
Epoch 261/300
891/891 [==============================] - 0s 191us/step - loss: 0.3878 - acc: 0.8339
Epoch 262/300
891/891 [==============================] - 0s 214us/step - loss: 0.3954 - acc: 0.8204
Epoch 263/300
891/891 [==============================] - 0s 320us/step - loss: 0.3854 - acc: 0.8406
Epoch 264/300
891/891 [==============================] - 0s 301us/step - loss: 0.3876 - acc: 0.8283
Epoch 265/300
891/891 [==============================] - 0s 262us/step - loss: 0.3860 - acc: 0.8406
Epoch 266/300
891/891 [==============================] - 0s 357us/step - loss: 0.3890 - acc: 0.8373
Epoch 267/300
891/891 [==============================] - 0s 192us/step - loss: 0.3914 - acc: 0.8305
Epoch 268/300
891/891 [==============================] - 0s 176us/step - loss: 0.3880 - acc: 0.8238
Epoch 269/300
891/891 [==============================] - 0s 169us/step - loss: 0.3849 - acc: 0.8361
Epoch 270/300
891/891 [==============================] - 0s 160us/step - loss: 0.3803 - acc: 0.8384
Epoch 271/300
891/891 [==============================] - 0s 195us/step - loss: 0.3879 - acc: 0.8339
Epoch 272/300
891/891 [==============================] - 0s 291us/step - loss: 0.3946 - acc: 0.8283
Epoch 273/300
891/891 [==============================] - 0s 291us/step - loss: 0.3874 - acc: 0.8328
Epoch 274/300
891/891 [==============================] - 0s 272us/step - loss: 0.3815 - acc: 0.8373
Epoch 275/300
891/891 [==============================] - 0s 314us/step - loss: 0.3894 - acc: 0.8395
Epoch 276/300
891/891 [==============================] - 0s 271us/step - loss: 0.3918 - acc: 0.8339
Epoch 277/300
891/891 [==============================] - 0s 183us/step - loss: 0.3965 - acc: 0.8294
Epoch 278/300
891/891 [==============================] - 0s 199us/step - loss: 0.3902 - acc: 0.8316
Epoch 279/300
891/891 [==============================] - 0s 224us/step - loss: 0.3947 - acc: 0.8316
Epoch 280/300
891/891 [==============================] - 0s 208us/step - loss: 0.3847 - acc: 0.8316
Epoch 281/300
891/891 [==============================] - 0s 223us/step - loss: 0.3913 - acc: 0.8339
Epoch 282/300
891/891 [==============================] - 0s 252us/step - loss: 0.3862 - acc: 0.8373
Epoch 283/300
891/891 [==============================] - 0s 199us/step - loss: 0.3923 - acc: 0.8249
Epoch 284/300
891/891 [==============================] - 0s 205us/step - loss: 0.3854 - acc: 0.8373
Epoch 285/300
891/891 [==============================] - 0s 240us/step - loss: 0.3817 - acc: 0.8373
Epoch 286/300
891/891 [==============================] - 0s 190us/step - loss: 0.3863 - acc: 0.8316
Epoch 287/300
891/891 [==============================] - 0s 200us/step - loss: 0.3922 - acc: 0.8316
Epoch 288/300
891/891 [==============================] - 0s 366us/step - loss: 0.3876 - acc: 0.8395
Epoch 289/300
891/891 [==============================] - 0s 314us/step - loss: 0.3851 - acc: 0.8339
Epoch 290/300
891/891 [==============================] - 0s 291us/step - loss: 0.3823 - acc: 0.8418
Epoch 291/300
891/891 [==============================] - 0s 290us/step - loss: 0.4302 - acc: 0.8193
Epoch 292/300
891/891 [==============================] - 0s 345us/step - loss: 0.3891 - acc: 0.8215
Epoch 293/300
891/891 [==============================] - 0s 316us/step - loss: 0.3914 - acc: 0.8384
Epoch 294/300
891/891 [==============================] - 0s 310us/step - loss: 0.3944 - acc: 0.8182
Epoch 295/300
891/891 [==============================] - 0s 378us/step - loss: 0.3872 - acc: 0.8328
Epoch 296/300
891/891 [==============================] - 0s 207us/step - loss: 0.3793 - acc: 0.8395
Epoch 297/300
891/891 [==============================] - 0s 253us/step - loss: 0.3843 - acc: 0.8429
Epoch 298/300
891/891 [==============================] - 0s 218us/step - loss: 0.3821 - acc: 0.8418
Epoch 299/300
891/891 [==============================] - 0s 315us/step - loss: 0.3854 - acc: 0.8328
Epoch 300/300
891/891 [==============================] - 0s 291us/step - loss: 0.3894 - acc: 0.8305

In [235]:
model_evaluation=network.evaluate(train, y_train)
model_evaluation

891/891 [==============================] - 0s 216us/step

[0.3796709138569741, 0.8316498311815572]

In [237]:
y_pred=network.predict(test)
y_pred =(y_pred>0.5)

In [245]:
result = pd.DataFrame()

In [246]:
result['PassengerId'] = passengerId_test

In [247]:
result['Survived'] = y_pred

In [248]:
result['Survived'] = np.where(result['Survived'] == False,0,1)

In [252]:
result.to_csv("./datasets/results.csv",index=False)